@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Lobster&display=swap");

body,
html,
#root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: #fff2fe;
}

* {
    font-family: "Arimo", sans-serif !important;
}

#title-home-guest {
    font-family: "Lobster", cursive !important;
    font-size: 135px !important;
}

#logo-navbar-guest {
    font-family: "Lobster", cursive !important;
}

#title-login-guest {
    font-family: "Lobster", cursive !important;
    font-size: 55px !important;
    text-align: center;
    margin-bottom: 10px;
}

.my-google-login-button {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
    width: 100% !important;
    border: 3px solid black !important;
    border-radius: 10px !important;
}
.my-google-login-button > div {
    margin-left: 10px !important;
}

.my-google-login-button > span {
    /* width: 100% !important; */
    /* text-align: center !important; */
    color: black !important;
    font-size: 15px;
}
.my-facebook-button-class {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 400px !important;
    background-color: #4267b2;
    font-size: 15px;
    height: 50px;
    border-radius: 10px;
    color: white;
    border: 3px solid black;
    cursor: pointer;
    outline: none;
    padding: 0 5px;
}

.my-facebook-button-class > svg {
    padding-right: 18px;
}
